body {
    background-color: #d2c09e;
    background-image: url('../assets/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Amaranth', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.contentContainer {
    flex: 1 0 auto;
    background: rgba(210,192,158,0.8);
    max-width: 49%;
    display: flex;
    margin: 0 auto;
    padding: 95px 10px 50px 10px;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .contentContainer {
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .contentContainer {
        max-width: 100%;
    }
}
