<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!--Base URL-->
    <add key="Context.WebSystem.BaseUrl" value="http://localhost:63099"/>
    <!--Visitor web browser driver-->
    <add key="Context.Visitor.Browser.Name" value="Chrome"/>
  </appSettings>
</configuration>
