
@{
    ViewData["Title"] = "Campaign";
}

@Html.Partial("~/Views/Shared/_AssetsLink.cshtml")
@Html.Partial("~/Views/Shared/_Navigation.cshtml")


<h2>Campaign</h2>

@Html.Partial("~/Views/Shared/_Footer.cshtml")
