
@{
    ViewData["Title"] = "Lore";
}

@Html.Partial("~/Views/Shared/_AssetsLink.cshtml")
@Html.Partial("~/Views/Shared/_Navigation.cshtml")

<section class="content">
    <h2>Lore</h2>
</section>

@Html.Partial("~/Views/Shared/_Footer.cshtml")
