
@{
    ViewData["Title"] = "Lore";
}

@Html.Partial("~/Views/Shared/_AssetsLink.cshtml")
@Html.Partial("~/Views/Shared/_Navigation.cshtml")


<h2>Lore</h2>

@Html.Partial("~/Views/Shared/_Footer.cshtml")
