<head>
    <link href="~/Content/css/footer.css" rel="stylesheet" />
</head>

<body>
    <footer class="footer" data-attr-test="footer">
        <div class="footer-pagesPanel">
            <!--TODO: Update links when solution is ready-->
            <a data-attr-test="footer-forumBtn" class="footer-pagesPanel-item" href="">Forum</a>
            <a data-attr-test="footer-helpBtn" class="footer-pagesPanel-item" href="">Help</a>
            <a data-attr-test="footer-supportBtn" class="footer-pagesPanel-item" href="">Support</a>
            <a data-attr-test="footer-facebookBtn" class="footer-pagesPanel-item" href="">Facebook</a>
        </div>
    </footer>
</body>