<head>
    <link href="~/Content/css/footer.css" rel="stylesheet" />
</head>

<body>
    <footer class="footer">
        <div class="footer-pagesPanel">
            <a class="footer-pagesPanel-item" href="">Forum</a>
            <a class="footer-pagesPanel-item" href="">Help</a>
            <a class="footer-pagesPanel-item" href="">Support</a>
            <a class="footer-pagesPanel-item" href="">Facebook</a>
        </div>
    </footer>
</body>