@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link href="~/Content/css/navigation.css" rel="stylesheet" />
</head>

<body>
    <nav data-attr-test="navigation" class="navigation">
        <div class="navigation-logoContainer">
            <img data-attr-test="navigation-logo" src="~/Content/assets/logo.png" class="navigation-logo" />
        </div>
        <div class="navigation-pagesPanel">
            <a data-attr-test="navigation-homeBtn" class="navigation-pagesPanel-item" asp-controller="Home" asp-action="Index">Home</a>
            <a data-attr-test="navigation-loreBtn" class="navigation-pagesPanel-item" asp-controller="Lore" asp-action="Index">Lore</a>
            <a data-attr-test="navigation-rulesBtn" class="navigation-pagesPanel-item" asp-controller="Rules" asp-action="Index">Rules</a>
            <a data-attr-test="navigation-campaignBtn" class="navigation-pagesPanel-item" asp-controller="Campaign" asp-action="Index">Campaign</a>
            <a data-attr-test="navigation-armyBuilderBtn" class="navigation-pagesPanel-item" asp-controller="ArmyBuilder" asp-action="Index">Army Builder</a>
        </div>
    </nav>
</body>
